<div class="Typography" :class="[classes, className]">
	<h1 v-show="type === 'h1'" :style="{ color, fontSize, fontWeight }">
		<slot />
	</h1>
	<h2 v-show="type === 'h2'" :style="{ color, fontSize, fontWeight }">
		<slot />
	</h2>
	<h3 v-show="type === 'h3'" :style="{ color, fontSize, fontWeight }">
		<slot />
	</h3>
	<h4 v-show="type === 'h4'" :style="{ color, fontSize, fontWeight }">
		<slot />
	</h4>
	<h5 v-show="type === 'h5'" :style="{ color, fontSize, fontWeight }">
		<slot />
	</h5>
	<p v-show="type === 'p' || !type" :style="{ color, fontSize, fontWeight }">
		<slot />
	</p>
	<span v-show="type === 'span'" :style="{ color, fontSize, fontWeight }">
		<slot />
	</span>
</div>
